services:
  zitadel:
    # if errors say something about mirgations failing because of duplicate keys:
    # check logs from the first time the container booted. It wil have an error,
    # but it will only come up once.
    restart: "unless-stopped"
    networks:
      - "reverse-proxy_reverse-proxy-network"
      - "database_db-network"
      - "zitadel-network"
    image: "ghcr.io/zitadel/zitadel:v4.7.0"
    command:
      - "start-from-init"
      - "--config=/zitadel-config.yaml"
      - "--config=/run/secrets/zitadel_secrets.yaml"
      - "--steps=/zitadel-init-steps.yaml"
      - "--masterkeyFile=/run/secrets/zitadel_masterkey"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=reverse-proxy_reverse-proxy-network"
      - "traefik.http.routers.zitadel.rule=Host(`auth.wvl.app`) && !PathPrefix(`/ui/v2/login`)"
      - "traefik.http.routers.zitadel.entrypoints=websecure"
      - "traefik.http.routers.zitadel.tls.certresolver=le"
    ports:
      - "3001:8080"
    volumes:
      - /docker-volumes/zitadel/login-client:/login-client:rw
      - /docker-volumes/zitadel/init-steps.yaml:/zitadel-init-steps.yaml:ro
      - /docker-volumes/zitadel/zitadel-config.yaml:/zitadel-config.yaml:ro
    secrets:
      - "zitadel_secrets.yaml"
      - zitadel_masterkey
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          pids: 99

  zitadel-login:
    restart: 'unless-stopped'
    image: 'ghcr.io/zitadel/zitadel-login:v4.7.0'
    environment:
      - ZITADEL_API_URL=http://zitadel:8080
      - NEXT_PUBLIC_BASE_PATH=/ui/v2/login
      - DEBUG=true
      - ZITADEL_SERVICE_USER_TOKEN_FILE=/login-client/login-client.pat
      - CUSTOM_REQUEST_HEADERS=Host:auth.wvl.app
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=reverse-proxy_reverse-proxy-network"
      - "traefik.http.routers.zitadel-login.rule=Host(`auth.wvl.app`) && PathPrefix(`/ui/v2/login`)"
      - "traefik.http.routers.zitadel-login.entrypoints=websecure"
      - "traefik.http.routers.zitadel-login.tls.certresolver=le"
    ports:
      - "3002:3000"
    volumes:
      - /docker-volumes/zitadel/login-client:/login-client:ro
    networks:
      - zitadel-network
      - reverse-proxy_reverse-proxy-network
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    deploy:
      resources:
        limits:
          pids: 99

secrets:
  "zitadel_secrets.yaml":
    file: /docker-volumes/zitadel/zitadel_secrets.yaml
  zitadel_masterkey:
    file: /docker-volumes/zitadel/zitadel_masterkey

networks:
  zitadel-network:
  database_db-network:
    external: true
  reverse-proxy_reverse-proxy-network:
    external: true
